@import 'tailwindcss';
@import 'tw-animate-css';
@plugin "@tailwindcss/typography";

/* Geist Sans - Normal */
@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 100 900;
  src: url(https://fonts.gstatic.com/s/geist/v3/gyByhwUxId8gMEwcGFU.woff2)
    format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

/* Geist Sans - Italic */
@font-face {
  font-family: 'Geist';
  font-style: italic;
  font-weight: 100 900;
  src: url(https://fonts.gstatic.com/s/geist/v3/gyB0hwUxId8gMEwcGFU--i3wRw.woff2)
    format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

/* Geist Mono - Normal */
@font-face {
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 100 900;
  src: url(https://fonts.gstatic.com/s/geistmono/v3/or3nQ6H-1_WfwkMZI_qYFrcdmg.woff2)
    format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

/* Geist Mono - Oblique */
@font-face {
  font-family: 'Geist Mono';
  font-style: oblique 0deg 15deg;
  font-weight: 100 900;
  src: url(https://fonts.gstatic.com/s/geistmono/v3/or3nQ6H-1_WfwkMZI_qYFrcdmg.woff2)
    format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

@custom-variant dark (&:is(.dark *));
@theme {
  --breakpoint-*: initial;
  --breakpoint-xs: 378px;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1280px;

  --font-geist-sans: 'Geist', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;

  --animate-text-loading: text-loading 1.5s infinite ease-in-out;
  @keyframes text-loading {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  --animate-loading-2: loading-2 1.5s infinite ease-in-out;
  @keyframes loading-2 {
    0% {
      transform: scaleX(0);
    }
    50% {
      transform: scaleX(1);
    }
    100% {
      transform: scaleX(0);
    }
  }

  --animate-loading: loading 1.5s infinite;

  @keyframes loading {
    0% {
      opacity: 0;
    }
    35% {
      opacity: 1;
    }
    65% {
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
    }
  }

  --animate-expand-x: expand-x 0.7s ease-in-out forwards;
  @keyframes expand-x {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }
  --animate-expand-y: expand-y 0.7s ease-in-out forwards;
  @keyframes expand-y {
    0% {
      transform: scaleY(0);
    }
    100% {
      transform: scaleY(1);
    }
  }
}

@theme inline {
  --color-code-background: var(--code-background);
  --color-active: var(--item-active);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-gradient-start: var(--gradient-start);
}

:root {
  scroll-behavior: smooth;

  --radius: 0.5rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
  --item-active: oklch(0.49 0.23 264);
  --code-background: oklch(0.21 0.006 285.885);
  --gradient-start: oklch(0.141 0.005 285.823);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
  --item-active: oklch(0.72 0.17 264);
  --code-background: oklch(0.21 0.006 285.885);
  --gradient-start: oklch(0.72 0.17 264);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply scroll-pt-14;
  }
}

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE */
  }

  * {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  :not(pre) > code::before,
  :not(pre) > code::after {
    content: none !important;
  }
  :not(pre) > code {
    @apply bg-accent font-mono text-foreground!;
    @apply rounded-md px-2 py-px;
  }

  code[data-line-numbers] {
    counter-reset: line;
  }

  code[data-line-numbers] > [data-line]::before {
    counter-increment: line;
    content: counter(line);

    /* Other styling */
    display: inline-block;
    width: 0.75rem;
    margin-right: 2rem;
    text-align: right;
    color: gray;
  }

  code[data-line-numbers-max-digits='2'] > [data-line]::before {
    width: 1.25rem;
  }

  code[data-line-numbers-max-digits='3'] > [data-line]::before {
    width: 1.75rem;
  }

  code[data-line-numbers-max-digits='4'] > [data-line]::before {
    width: 2.25rem;
  }

  pre code span[data-line] {
    @apply px-[1rem];
  }

  code span[data-highlighted-line] {
    @apply relative inline-block w-full bg-accent/20 dark:bg-foreground/20;
  }

  .katex .katex-html {
    @apply hidden;
  }

  math {
    @apply text-foreground;
  }

  table {
    @apply my-0!;
  }

  /* hide footnote default label, use customized header instead*/
  .footnotes h2 {
    @apply hidden;
  }

  /* these are used to hide the first backlink, reduce the backlink sup number by 1, show the sup with number > 1 */
  li[id^='user-content-fn-'] p a:nth-child(2) {
    display: none !important;
  }
  li[id^='user-content-fn-'] p a[data-footnote-backref] sup {
    display: none;
  }
  li[id^='user-content-fn-'] {
    counter-reset: backlink-counter 0;
  }
  li[id^='user-content-fn-'] p a[data-footnote-backref]:not(:nth-child(2)) {
    counter-increment: backlink-counter;
  }
  li[id^='user-content-fn-']
    p
    a[data-footnote-backref]:not(:nth-child(2)):not(:nth-child(3))::after {
    content: counter(backlink-counter);
    vertical-align: super;
    font-size: smaller;
  }
}

@layer components {
  #smooth-content {
    overflow: visible;
    width: 100%;
    /* set a height because the contents are position: absolute, thus natively there's no height */
    height: 4000px;
  }

  .bg-radial-center-out {
    background: radial-gradient(
      ellipse at center,
      oklch(from var(--background) l c h / 0.3) 0%,
      oklch(from var(--background) l c h / 0.3) 50%,
      oklch(from var(--background) l c h / 0.8) 70%,
      oklch(from var(--background) l c h / 1) 85%,
      oklch(from var(--background) l c h / 1) 100%
    );
  }
}
